---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> Get to know Arina </H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    <a href="https://www.linkedin.com/in/arinachernova/" target="_blank" class="underline underline-offset-4 decoration-zinc-400 hover:text-zinc-50 hover:decoration-zinc-200">
                         Arina Chernova</a>
                    is a T-shaped individual. Her broad experience (top of the 'T') spans 
                    venture capital at <a href="https://www.cento.vc" target="_blank">Cento</a>, analyzing fintech startups, job 
                    shadowing at blockchain API provider <a href="https://www.chainstack.com" target="_blank">Chainstack</a>.
                    This commercial acumen complements her deep, technical spike in biotechnology,
                    demonstrated through advanced IB Biology/Chemistry and hands-on
                    microalgae biofuel research (the vertical bar of 'T').
               </p>
          </div>

          <div class="space-y-2 text-base sm:text-lg">
               <h2 class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500">Achievements</h2>

               <ul class="px-4 text-zinc-400 list-disc list-outside">
                    <li><a href="https://drive.google.com/file/d/1zyb5ecqFuZhxzeLXp5Yg6PdgDUd3YKzz/view?usp=drive_link" target="_blank">Highly Commended in British Biology Olympiad (2025)</a></li>
                    <li><a href="https://drive.google.com/file/d/15Adr-a63iWbdMBg-Pb_4PVBAfw7AjSpM/view?usp=drive_link" target="_blank">Venture Capital Letter of Endorsement, Cento.vc (2025)</a></li>
                    <li><a href="https://drive.google.com/file/d/1g02KUljDTVl1Yr84e4inzWDrIZLIUTn9/view?usp=drive_link" target="_blank">Industrial Microbiology Certification, University of Manchester (2025)</a></li>
                    <li><a href="https://drive.google.com/file/d/1QZCZ1k9fafVPgaQIzE0IW8wtAtlQVfeo/view?usp=drive_link" target="_blank">Private Equity and Venture Capital, Bocconi University (2024)</a></li>
                    <li><a href="https://drive.google.com/file/d/1ko-ipUk7NHIgFqRCSO5EuSxFwDqNBL7P/view?usp=drive_link" target="_blank">Project Management Certification, Google (2023)</a> </li>
               </ul>
          </div>
     </div>
</InfoLayout>
