---
import { Image } from 'astro:assets';
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import Botryococcus from "../assets/2025_Botryococcus_braunii.jpg";
import Cento from "../assets/2025_Venture_Capital_Cento.png";
import IndustrialBiotech from "../assets/2025_Arina_Chernova_CERTIFICATE_Industrial_Microbiology.jpeg";
import NTUCollab from "../assets/2025_NTU_Lab_collaboration.jpeg";
import Startups from "../assets/2025_Venture_Capital_Cento_Trends.png";
import VisualArts from "../assets/2025_Visual_Art_design.jpeg";

const projects = [
     {
          title: "VC Market Research",
          description: "Conducted company research and presented findings during internship at Cento Ventures",
          image: Cento
     },
     {
          title: "Scientific Lab Collaboration",
          description: "Liaised with NUS and NTU researchers to source and culture specialized microalgae strains",
          image: NTUCollab
     },
     {
          title: "Startup Ecosystem Analysis",
          description: "Observer to Investment Committee and portfolio discussions for Southeast Asian fintech startups",
          image: Startups
     },
     {
          title: "Biofuel Research",
          description: "Investigating hydrocarbon yields from Botryococcus microalgae as a sustainable fuel alternative",
          image: Botryococcus
     },
     {
          title: "Visual Arts & Design",
          description: "A personal portfolio of creative works in fine and digital art",
          image: VisualArts
     },
     {
          title: "Industrial Biotechnology Study",
          description: "Completed certification in industrial biotechnology with a focus on algaculture",
          image: IndustrialBiotech
     }];
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
          <H1> Projects </H1>

          <ul class="mt-4 sm:mt-12 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-16 sm:gap-8">
               {projects.map((project) => (
                    <li>
                         <Image src={project.image} alt={project.title} class="aspect-[1/1.33] object-center object-cover rounded-lg shadow-lg mb-4 sm:mb-0 sm:mr-4" />
                         <div class="p-1 sm:p-2">
                              <h2 class="text-base text-zinc-100">{project.title}</h2>
                              <p class="text-sm text-zinc-400 text-balance">{project.description}</p>
                         </div>
                    </li>
               ))}
          </ul>
     </div>
</InfoLayout>